<div id="carouselExampleIndicators" class="carousel slide" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="400">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner mt-5">

    <div class="carousel-item p-5 active">
      <div class="d-block w-100">
        <div class="col-sm-12">
          <%= link_to "https://www.cleanaroo.app/", target: "_blank" do %>
            <h4 class="text-center">Cleanaroo</h4>
          <% end %>
        </div>

        <div class="row carousel-inside">

          <div class="col-sm-6">
            <%= link_to "https://www.cleanaroo.app/", target: "_blank" do %>
              <%= cl_image_tag("zh4cz6sicyh1emjqcbaf", class: "img-device-flex") %>
              <%= cl_image_tag("twggzh6e5otxuiicy9lq", class: "img-device-flex") %>
              <%= cl_image_tag("mlxophv61cyotpz0lbce", class: "img-device-flex") %>
            <% end %>
          </div>

          <div class="col-sm-6 mobile-content">
            <p>Cleanaroo is an user friendly mobile app that matches busy vacation rental property managers with
              the best cleaner offering them high quality and reliable cleaning service. </p>
          </div>

        </div>

      </div>
    </div>

    <div class="carousel-item p-5">
      <div class="d-block w-100">
        <div class="col-sm-12">
          <%= link_to "https://plantyfy.herokuapp.com/", target: "_blank" do %>
            <h4 class="text-center">Plantify</h4>
          <% end %>
        </div>

        <div class="row carousel-inside">

          <div class="col-sm-6">
            <%= link_to "https://plantyfy.herokuapp.com/", target: "_blank" do %>
              <%= cl_image_tag("ojfoyw940zdvkgjabvwj", class: "img-plantify") %>
            <% end %>
          </div>

          <div class="col-sm-6 mobile-content img-plantify">
            <p>Plantify is a renting plant service for variety seeking, busy and gardening-skills-lacking people, wanting to get assistance in choosing the right plants to enjoy a home filled with green love.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="carousel-item p-5">
      <div class="d-block w-100">
        <div class="col-sm-12">
          <%= link_to "https://mrcocktail-jamile.herokuapp.com/", target: "_blank" do %>
            <h4 class="text-center">Mr Cocktail</h4>
          <% end %>
        </div>

        <div class="row carousel-inside">

          <div class="col-sm-6">
            <%= link_to "https://mrcocktail-jamile.herokuapp.com/", target: "_blank" do %>
              <%= cl_image_tag("y9mel13s8m0whagbtzsf", class: "img-cocktail rotate-left") %>
              <%= cl_image_tag("frxztlzkcn8ozxd7vnpe", class: "img-cocktail-small rotate-right") %>
          <% end %>
          </div>

          <div class="col-sm-6 mobile-content">
            <p>This is the first project I built during my time at Le Wagon. It is a cocktail manager web app to store your favorite cocktails recipes 🍸🍹
              <br>
              There is also option to leave a review. I used <%= link_to "TheCocktailDB", "https://www.thecocktaildb.com/api.php", id: "special-link", target: "_blank" %> API to feed the database. </p>
          </div>

        </div>
      </div>
    </div>

    <div class="carousel-item p-5">
      <div class="d-block w-100">
        <div class="col-sm-12">
          <%= link_to "https://jamilemarcele.github.io/JR-exchange-rate-calculator/", target: "_blank" do %>
            <h4 class="text-center">Exchange Rate Calculator</h4>
          <% end %>
        </div>

        <div class="row carousel-inside">

          <div class="col-sm-6">
            <%= link_to "https://jamilemarcele.github.io/JR-exchange-rate-calculator/", target: "_blank" do %>
              <%= cl_image_tag("exchange-rate-calculator-jr", class:"img-exchange-rate rotate-left") %>
            <% end %>
          </div>

          <div class="col-sm-6 mobile-content">
            <p>A simple exchange rate calculator built with Vanilla JavaScript and the <%= link_to "ExchangeRate-API", "https://www.exchangerate-api.com/", id: "special-link", target: "_blank" %>.
              <br>
              You can find currency conversion rates for 160 countries 🌎 </p>
          </div>

        </div>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
