<div class="navbar navbar-basile">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "#", class: "nav-link mr-5" do %>
            <span><span class='nav-capital'></span><%= t('navbar.home') %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#about", class: "nav-link mr-5" do %>
            <span><span class='nav-capital'></span><%= t('navbar.work') %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#contact", class: "nav-link" do %>
            <span><span class='nav-capital'></span><%= t('navbar.contact') %></span>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <div role="button" class="nav-link" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if I18n.locale == I18n.default_locale %>
              <em>FR</em>
            <% else %>
              <em>EN</em>
            <% end %>
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to 'English', { locale: :en }, class: 'dropdown-item' %>
            <%= link_to 'Français', { locale: :fr }, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
