<div class="container project">
  <h1 class="text-center mb-5">Projects</h1>
  <p>Throughout my career journey, I worked in SaaS companies, always combining tourism and technologies. I chose to focus on learning to code in 2020 because, besides the fact that I love technology, I believe that digital transformation is the future, and I want to be part of it.</p>

  <p>Here you can find a selection of some recent work. All projects were created with Ruby on Rails, from user stories through the production environment to demo day. </p>

  <%= render "shared/carousel" %>

  <div class="stack">
    <h2>My current stack:</h2>
    <div class="current-stack">
      <div class="row justify-content-between">
        <div class="col-md-2 col-sm-4">
          <%= image_tag("ruby-on-rails.png", class: "stack-icon") %>
          <p>Ruby on Rails</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <%= image_tag("js.png", class: "stack-icon") %>
          <p>JavaScript (ES6)</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <%= image_tag("mySQL.png", class: "stack-icon") %>
          <p>MySQL</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <%= image_tag("html.png", class: "stack-icon") %>
          <p>HTML</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <%= image_tag("css1.png", class: "stack-icon") %>
          <p>CSS</p>
        </div>
      </div>
    </div>
  </div>
</div>
