<!--<div class="container-fluid container-jr rellax" data-rellax-speed="7">-->
<div class="container-fluid container-jr" id="projects">

  <div class="container project">
    <h1 class="text-right mb-5" data-aos="fade-left" data-aos-duration="1000">Projects</h1>
    <p>Throughout my career journey, I worked in SaaS companies, always combining <span id="green-color-bold">tourism</span> and <span id="green-color-bold">technologies</span>.
      I chose to focus on learning to code in 2020 because, besides the fact that I love technology, I believe that <span id="green-color-bold">digital transformation</span> is the future, and I want to be part of it.</p>

    <p>Here you can find a selection of some recent work. All projects were created with <span id="green-color-bold">Ruby on Rails</span>, from user <span id="green-color-bold">stories</span> through the <span id="green-color-bold">production environment</span> to <span id="green-color-bold">demo day</span>. </p>

    <%= render "shared/carousel" %>

    <div class="stack">

      <h2 data-aos="fade-right" data-aos-duration="1000">My current <span id="stack-color">stack:</span></h2>

      <div class="current-stack">
        <div class="row justify-content-between" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-md-2 col-sm-4">
            <%= cl_image_tag("b1bzkbwz4fjkbmhmaglq", class: "stack-icon") %>
            <p>Ruby on Rails</p>
          </div>
          <div class="col-md-2 col-sm-4">
            <%= cl_image_tag("uvcxqeri6ryj411edfc2", class: "stack-icon") %>
            <p>JavaScript (ES6)</p>
          </div>
          <div class="col-md-2 col-sm-4">
            <%= cl_image_tag("ik0umgtse92ks0szgut8", class: "stack-icon") %>
            <p>MySQL</p>
          </div>
          <div class="col-md-2 col-sm-4">
            <%= cl_image_tag("j3zzlg8mnqyvl4h8jrth", class: "stack-icon") %>
            <p>HTML</p>
          </div>
          <div class="col-md-2 col-sm-4">
            <%= cl_image_tag("wuqelhwsmjxy8c8apvxd", class: "stack-icon") %>
            <p>CSS</p>
          </div>
          <div class="col-md-2 col-sm-4">
            <%= cl_image_tag("qyoysycz6ixbyn4cabn3", class: "stack-icon") %>
            <p>React</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
