<div class="container">
  <h1>Projects</h1>
  <p>Throughout my career journey, I worked in SaaS companies, always combining tourism and technologies. I chose to focus on learning to code in 2020 because, besides the fact that I love technology, I believe that digital transformation is the future, and I want to be part of it.</p>

  <p>Here's a selection of some recent work. I've done these projects to sharpen my skills. For more recent work, you can visit my GitHub profile.</p>

  During this period, I worked in a Full Stack Web Developer team creating two web apps using Ruby on Rails, from user stories through the production environment to demo day.
  <div class="stack">
    <h2>My current stack:</h2>
    <div class="current-stack">
      <div class="row justify-content-between">
        <div class="col-md-2 col-sm-4">
          <%= image_tag("ruby-on-rails.png", class: "stack-icon") %>
          <p>Ruby on Rails</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <%= image_tag("js.png", class: "stack-icon") %>
          <p>JavaScript (ES6)</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <%= image_tag("mySQL.png", class: "stack-icon") %>
          <p>MySQL</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <%= image_tag("html.png", class: "stack-icon") %>
          <p>HTML</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <%= image_tag("css1.png", class: "stack-icon") %>
          <p>CSS</p>
        </div>
      </div>
    </div>
  </div>
</div>
