<!--<div class="grid">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-offset-1 col-md-2">-->
<!--        <div class="grid-line"></div>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <div class="grid-line"></div>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <div class="grid-line"></div>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <div class="grid-line"></div>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <div class="grid-line" style="margin-right:-30px;border-right:1px solid #ccc"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<%= render 'shared/banner' %>
<%= render 'shared/about' %>
<%= render 'shared/projects' %>
<%= render 'shared/contact' %>
<%= render 'shared/footer' %>
